* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #e9f1d5;
  color: #000;
  font-family: 'Roboto' , sans-serif; }

body {
  background: url(../multimedia/abstractBlue.jpg); }

.contenedorHome {
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  display: grid;
  grid-gap: 0;
  grid-template-areas: "homeHeader     homeHeader  homeHeader  homeHeader"  "homeBarImg     homeBarImg  homeBarImg  homeBarImg" "contenido1     contenido2  contenido3  contenido4" "homeArticle    homeArticle homeArticle homeArticle" "footer         footer      footer      footer"; }

.homeHeader {
  grid-area: homeHeader;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end; }
  .homeHeader .homeHeader__imgLogo {
    height: 100px;
    animation-name: logoBeat;
    animation-iteration-count: initial;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    animation-delay: 0s; }
  .homeHeader .homeHeader__titular h1 {
    color: white;
    font-weight: 800;
    border: #000;
    font-size: 4em;
    text-transform: uppercase; }

.homeBarImg {
  grid-area: homeBarImg;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px; }
  .homeBarImg .homeBarImg__menu {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    position: sticky;
    top: 0; }
    .homeBarImg .homeBarImg__menu .homeBarImg__menu__home {
      background: #616461; }
    .homeBarImg .homeBarImg__menu a {
      background: #1f1e1e;
      padding: 20px;
      width: 100%;
      text-align: center;
      color: #fff;
      transition: .3s ease-out all;
      text-decoration: none; }
      .homeBarImg .homeBarImg__menu a:hover {
        background: #2a9c2a;
        color: #fff; }
  .homeBarImg img {
    width: 100%;
    background: none; }
  .homeBarImg .homeBarImg__dropdown {
    background: black;
    position: sticky;
    top: 0;
    display: none; }

.homeContenido1,
.homeContenido2,
.homeContenido3,
.homeContenido4 {
  min-height: 15.625rem;
  min-width: 18.75rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.15rem;
  padding: 0.625rem; }
  .homeContenido1 .contenidos__titulo,
  .homeContenido2 .contenidos__titulo,
  .homeContenido3 .contenidos__titulo,
  .homeContenido4 .contenidos__titulo {
    font-size: 2rem; }
  .homeContenido1 .contenidos__parrafo,
  .homeContenido2 .contenidos__parrafo,
  .homeContenido3 .contenidos__parrafo,
  .homeContenido4 .contenidos__parrafo {
    font-size: 1.35rem;
    font-weight: 900;
    font-style: italic; }

.homeContenido1:hover,
.homeContenido2:hover,
.homeContenido3:hover,
.homeContenido4:hover {
  transform: scale(105%); }

.homeContenido1 {
  background: white;
  grid-area: contenido1; }

.homeContenido2 {
  background: #000;
  grid-area: contenido2;
  color: #fff; }

.homeContenido3 {
  background: white;
  grid-area: contenido3; }

.homeContenido4 {
  background: #000;
  grid-area: contenido4;
  color: #fff; }

.homeArticle {
  border-style: solid;
  grid-area: homeArticle;
  padding: 10px;
  margin-top: 10px; }
  .homeArticle h3 {
    text-align: center; }
  .homeArticle p {
    text-align: center;
    font-size: 1.15em; }

footer {
  background: #2a9c2a;
  grid-area: footer;
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem;
  margin-top: 10px; }
  footer .footer__links {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto; }
    footer .footer__links a {
      background: darkolivegreen;
      color: seashell;
      margin: 1px;
      padding: 2px;
      width: 100px;
      font-size: 12px;
      font-weight: 700;
      text-align: center;
      text-decoration: none; }
      footer .footer__links a:hover {
        background: #2a9c2a; }
  footer .navSocialNetworks {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto; }

@media (max-width: 1280) {
  .contenedorHome {
    grid-template-areas: "homeHeader homeHeader  homeHeader  homeHeader"  "contenedorHome__dropdown   contenedorHome__dropdown contenedorHome__dropdown contenedorHome__dropdown" "homeBarImg homeBarImg  homeBarImg  homeBarImg" "contenido1 contenido2  contenido3  contenido4" "homeArticle homeArticle homeArticle homeArticle" "footer footer  footer  footer"; }
    .contenedorHome .homeBarImg__dropdown {
      display: none; } }

@media (max-width: 1200) {
  .contenedorHome {
    grid-template-areas: "homeHeader homeHeader  homeHeader  homeHeader"  "homeBarImg homeBarImg  homeBarImg  homeBarImg" "contenido1 contenido2  contenido3  contenido4" "homeArticle    homeArticle homeArticle homeArticle" "footer footer  footer  footer"; }
    .contenedorHome .homeBarImg__dropdown {
      display: none; } }

@media (max-width: 992px) {
  .contenedorHome {
    grid-template-areas: "homeHeader homeHeader  homeHeader" "homeBarImg homeBarImg  homeBarImg" "contenido1 contenido2  contenido3" "contenido4 contenido4  contenido4" "homeArticle    homeArticle homeArticle" "footer footer  footer"; }
    .contenedorHome .homeBarImg__dropdown {
      display: none; } }

@media (max-width: 768px) {
  .contenedorHome {
    grid-template-areas: "homeHeader homeHeader" "homeBarImg homeBarImg" "contenido1 contenido2" "contenido3 contenido4" "homeArticle homeArticle" "footer footer"; }
    .contenedorHome .homeHeader__titular {
      font-size: 14px; }
    .contenedorHome .homeBarImg__dropdown {
      display: none; } }

@media (max-width: 576px) {
  .contenedorHome {
    width: 100%;
    margin: 0;
    grid-template-areas: "homeHeader" "contenedorHome__dropdown" "homeBarImg" "contenido1" "contenido2" "contenido3" "contenido4" "homeArticle" "footer"; }
    .contenedorHome .homeHeader__imgLogo {
      display: none; }
    .contenedorHome .homeHeader__titular {
      font-size: 12px; }
    .contenedorHome .homeBarImg__menu {
      display: none; }
    .contenedorHome .homeBarImg__dropdown {
      display: contents; } }

@keyframes logoBeat {
  0% {
    width: 125px;
    height: 120px; }
  25% {
    width: 150px;
    height: 145px; }
  50% {
    width: 125px;
    height: 120px; }
  75% {
    width: 150px;
    height: 145px; }
  100% {
    width: 125px;
    height: 120px; } }

.nosContainer {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  display: grid;
  grid-template-areas: "nosHeader  nosHeader          nosHeader           nosHeader" "nosBarImg  nosHeader__nosMenu nosHeader__nosMenu  nosHeader__nosMenu" "nosBarImg  mainNos            mainNos             asideNos" "nosBarImg  sectionNos         sectionNos          asideNos" "nosBarImg  articleNos         articleNos          articleNos" "footer     footer             footer              footer"; }

.nosBarImg {
  color: #fff;
  grid-area: nosBarImg;
  flex-wrap: wrap;
  align-items: center;
  margin: 5px 5px 0 0; }
  .nosBarImg .nosBarImg__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    position: sticky;
    left: 0;
    top: 0; }
    .nosBarImg .nosBarImg__menu .nosBarImg__menu__nos {
      background: #616461; }
    .nosBarImg .nosBarImg__menu a {
      background: #1f1e1e;
      color: #fff;
      padding: 20px;
      width: 100%;
      text-align: center;
      color: #fff;
      transition: .3s ease-out all;
      text-decoration: none; }
      .nosBarImg .nosBarImg__menu a:hover {
        background: #2a9c2a;
        color: #fff; }

.nosHeader {
  background: #2a9c2a;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  grid-area: nosHeader;
  padding: 5px; }
  .nosHeader .nosHeader__titulo {
    font-size: 3em; }
  .nosHeader .nosHeader__nosMenu {
    background: #2a9c2a;
    grid-area: nosHeader__nosMenu;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 5px; }
    .nosHeader .nosHeader__nosMenu .nosHeader__nosMenu__links {
      display: flex;
      flex-wrap: wrap;
      flex-basis: auto; }
      .nosHeader .nosHeader__nosMenu .nosHeader__nosMenu__links a {
        background: darkolivegreen;
        color: white;
        margin: 2px;
        padding: 2px;
        width: 100px;
        font-size: 12px;
        text-align: center;
        text-decoration: none;
        font-weight: 700; }
        .nosHeader .nosHeader__nosMenu .nosHeader__nosMenu__links a:hover {
          background: #2a9c2a; }

.mainNos {
  background: white;
  grid-area: mainNos;
  font-size: 1.125em;
  padding: 5px;
  margin: 5px 5px 0 0; }
  .mainNos .mainNos__titulo {
    font-family: 'Roboto', sans-serif;
    font-weight: 700; }
  .mainNos .mainNos__parrafo {
    font-family: 'Roboto', sans-serif;
    font-weight: 400; }

.sectionNos {
  background: darkgray;
  grid-area: sectionNos;
  font-size: 1em;
  padding: 5px;
  margin: 5px 5px 0 0; }
  .sectionNos .sectionNos__section1 {
    font-size: 1em;
    padding: 5px;
    margin: 5px 0 5px 0; }
    .sectionNos .sectionNos__section1 .sectionNos__section1__titulo {
      font-family: 'Roboto', sans-serif;
      font-style: italic; }
    .sectionNos .sectionNos__section1 .sectionNos__section1__parrafo {
      font-family: 'Roboto', sans-serif;
      font-style: italic;
      color: white; }
  .sectionNos .sectionNos__section2 {
    font-size: 1em;
    padding: 5px;
    margin: 5px 0 5px 0; }
    .sectionNos .sectionNos__section2 .sectionNos__section2__titulo {
      font-family: 'Roboto', sans-serif;
      font-style: italic; }
    .sectionNos .sectionNos__section2 .sectionNos__section2__parrafo {
      font-family: 'Roboto', sans-serif;
      font-style: italic;
      color: white; }

.asideNos {
  grid-area: asideNos;
  margin: 5px 0 0 0; }
  .asideNos .asideNos__img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.articleNos {
  background: white;
  grid-area: articleNos;
  font-size: 1rem;
  padding: 5px;
  margin: 5px 0 5px 0; }
  .articleNos .articleNos__titulo {
    font-size: 1.5rem;
    font-style: italic;
    background-color: grey;
    color: white; }
  .articleNos .articleNos__parrafo {
    font-family: 'Roboto', sans-serif;
    font-size: 1.15rem;
    font-weight: 500;
    font-style: italic; }

footer {
  background: #2a9c2a;
  grid-area: footer;
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem;
  margin-top: 10px; }
  footer .footer__links {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto; }
    footer .footer__links a {
      background: darkolivegreen;
      color: seashell;
      margin: 1px;
      padding: 2px;
      width: 100px;
      font-size: 12px;
      font-weight: 700;
      text-align: center;
      text-decoration: none; }
      footer .footer__links a:hover {
        background: #2a9c2a; }
  footer .navSocialNetworks {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto; }

@media (max-width: 1200px) {
  .nosContainer {
    grid-template-areas: "nosBarImg  nosHeader          nosHeader           nosHeader" "nosBarImg  nosHeader__nosMenu nosHeader__nosMenu  nosHeader__nosMenu" "nosBarImg  mainNos            mainNos             asideNos" "nosBarImg  sectionNos         sectionNos          asideNos" "nosBarImg  articleNos         articleNos          articleNos" "footer          footer           footer"; } }

@media (max-width: 992px) {
  .nosContainer {
    grid-template-areas: "nosBarImg nosHeader          nosHeader           nosHeader" "nosBarImg nosHeader__nosMenu nosHeader__nosMenu  nosHeader__nosMenu" "nosBarImg mainNos            mainNos             asideNos" "nosBarImg sectionNos         sectionNos          asideNos" "nosBarImg articleNos         articleNos          articleNos" "footer    footer          footer           footer"; } }

@media (max-width: 768px) {
  .nosContainer {
    grid-template-areas: "nosHeader          nosHeader"  "nosHeader__nosMenu nosHeader__nosMenu"  "mainNos            mainNos"  "asideNos           asideNos"  "sectionNos         sectionNos" "articleNos         articleNos" "footer          footer"; } }

@media (max-width: 576px) {
  .nosContainer {
    grid-template-areas: "nosHeader" "nosHeader__nosMenu"  "mainNos"  "asideNos"      "sectionNos" "articleNos" "footer"; } }

.encContainer {
  width: 90%;
  max-width: 80rem;
  min-width: 20rem;
  padding: 10px;
  margin: 20px auto;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-gap: 10px;
  grid-template-areas: "encHeader     encHeader" "encNavMenu    encNavMenu" "encCompartir  encCompartir" "encLugares    encMapa" "footer        footer";
  grid-template-columns: 1fr 1fr; }

.encHeader {
  grid-area: encHeader;
  background: #2a9c2a;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: white;
  padding: 10px; }
  .encHeader .encHeader__titular {
    font-size: 2em; }

.encNavMenu {
  grid-area: encNavMenu;
  background: #2a9c2a;
  display: flex;
  justify-content: end;
  align-items: center; }
  .encNavMenu a {
    background: darkolivegreen;
    color: seashell;
    margin: 1px;
    padding: 2px;
    width: 100px;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    text-decoration: none; }
    .encNavMenu a:hover {
      background: #2a9c2a; }

.encCompartir {
  font-family: 'Roboto', sans-serif;
  grid-area: encCompartir;
  background: #fcf3f3;
  padding: 10px; }
  .encCompartir .encCompartir__titulo {
    font-weight: 400;
    font-size: 2.25rem; }
  .encCompartir .encCompartir__parrafo {
    font-style: italic;
    font-size: 1.15rem; }

.encLugares {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  grid-area: encLugares;
  background: white;
  padding: 10px; }
  .encLugares .encLugares__titulo {
    font-size: 1.75rem;
    font-weight: 500; }
  .encLugares .encLugares__parrafo {
    font-size: 0.95rem; }

.encMapa {
  grid-area: encMapa; }

footer {
  background: #2a9c2a;
  grid-area: footer;
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem;
  margin-top: 10px; }
  footer .footer__links {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto; }
    footer .footer__links a {
      background: darkolivegreen;
      color: seashell;
      margin: 1px;
      padding: 2px;
      width: 100px;
      font-size: 12px;
      font-weight: 700;
      text-align: center;
      text-decoration: none; }
      footer .footer__links a:hover {
        background: #2a9c2a; }
  footer .navSocialNetworks {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto; }

@media (max-width: 1200px) {
  .encContainer {
    grid-template-areas: "encHeader     encHeader" "encNavMenu    encNavMenu" "encCompartir  encCompartir" "encLugares    encMapa" "footer     footer"; } }

@media (max-width: 992px) {
  .encContainer {
    grid-template-areas: "encHeader     encHeader" "encNavMenu    encNavMenu" "encCompartir  encCompartir" "encLugares    encMapa" "footer     footer"; } }

@media (max-width: 768px) {
  .encContainer {
    grid-template-areas: "encHeader     encHeader" "encNavMenu    encNavMenu" "encCompartir  encCompartir" "encLugares    encMapa" "footer     footer"; } }

@media (max-width: 576px) {
  .encContainer {
    grid-template-areas: "encHeader" "encNavMenu"    "encCompartir" "encMapa" "encLugares" "footer"; }
    .encContainer .encHeader {
      font-size: 1.25em; }
    .encContainer .encCompartir .encCompartir__titulo {
      font-size: 1.75rem; }
    .encContainer .encCompartir .encCompartir__parrafo {
      font-size: 1rem; } }

.galContainer {
  width: 90%;
  max-width: 80rem;
  min-width: 20rem;
  padding: 10px;
  margin: 20px auto;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "galHeader      galHeader   galHeader"  "aquascaping    contenido   asideGaleria" "biotope        contenido2  asideGaleria" "wabiKusa       contenido3  asideGaleria" "footer         footer      footer"; }

.galHeader {
  background: #2a9c2a;
  color: #fff;
  grid-area: galHeader;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px; }
  .galHeader .galHeader__titulo {
    font-size: 2em; }
  .galHeader .galHeader__navMenu {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    justify-content: flex-end; }
    .galHeader .galHeader__navMenu a {
      background: darkolivegreen;
      color: white;
      margin: 2px;
      padding: 2px;
      width: 100px;
      font-size: 12px;
      font-weight: 700;
      text-align: center;
      text-decoration: none; }
      .galHeader .galHeader__navMenu a:hover {
        background: #2a9c2a; }

.asideGaleria {
  grid-area: asideGaleria;
  padding: 10px;
  border-radius: 2px;
  background: #a6bd9d;
  margin-left: 10px;
  margin-top: 10px; }
  .asideGaleria .asideGaleria__titulo {
    font-size: 2.5em; }
  .asideGaleria .asideGaleria__p1 {
    font-size: 19px;
    font-weight: 680; }
  .asideGaleria .asideGaleria__p2 {
    font-size: 18px;
    font-weight: 660; }
  .asideGaleria .asideGaleria__p3 {
    font-size: 17px;
    font-weight: 640; }
  .asideGaleria .asideGaleria__p4 {
    font-size: 16px;
    font-weight: 620; }

.contenido div div img,
.contenido2 div div img,
.contenido3 div div img {
  height: 300px;
  width: 400px;
  margin-top: 10px; }

.aquascaping {
  grid-area: aquascaping;
  padding: 10px; }
  .aquascaping .aquascaping__titulo {
    background: #000;
    color: #fff;
    font-size: 2.5em; }
  .aquascaping .aquascaping__parrafo {
    font-style: italic;
    font-size: 1.1em; }

.biotope {
  grid-area: biotope;
  padding: 10px; }
  .biotope .biotope__titulo {
    font-size: 2.5em;
    background: #000;
    color: #fff; }
  .biotope .biotope__parrafo {
    font-style: oblique;
    font-size: 1.1em; }

.wabiKusa {
  grid-area: wabiKusa;
  padding: 10px; }
  .wabiKusa .wabikusa__titulo {
    font-size: 2.5em;
    background: #000;
    color: #fff; }
  .wabiKusa .wabiKusa__parrafo {
    font-style: oblique;
    font-size: 1.1em; }

.contenido {
  grid-area: contenido; }

.contenido2 {
  grid-area: contenido2; }

.contenido3 {
  grid-area: contenido3; }

footer {
  background: #2a9c2a;
  grid-area: footer;
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem;
  margin-top: 10px; }
  footer .footer__links {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto; }
    footer .footer__links a {
      background: darkolivegreen;
      color: seashell;
      margin: 1px;
      padding: 2px;
      width: 100px;
      font-size: 12px;
      font-weight: 700;
      text-align: center;
      text-decoration: none; }
      footer .footer__links a:hover {
        background: #2a9c2a; }
  footer .navSocialNetworks {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto; }

@media (max-width: 1200px) {
  .galContainer {
    grid-template-areas: "galHeader      galHeader   galHeader"  "aquascaping    contenido   asideGaleria" "biotope        contenido2  asideGaleria" "wabiKusa       contenido3  asideGaleria" "footer         footer      footer"; } }

@media (max-width: 992px) {
  .galContainer {
    grid-template-areas: "galHeader      galHeader"      "aquascaping    contenido"  "biotope        contenido2" "wabiKusa       contenido3" "asideGaleria   asideGaleria" "footer         footer"; } }

@media (max-width: 768px) {
  .galContainer {
    grid-template-areas: "galHeader" "aquascaping" "contenido" "biotope" "contenido2" "wabiKusa" "contenido3" "asideGaleria" "footer"; } }

.contConcurso {
  width: 90%;
  max-width: 80rem;
  min-width: 20rem;
  padding: 10px;
  margin: 20px auto;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  display: grid;
  grid-template-areas: "headerConcurso         headerConcurso          headerConcurso" "contest2021            contest2021             contest2021" "galeriaContest         galeriaContest          galeriaContest" "posiciones             posiciones              posiciones" "footer                 footer                  footer"; }

.headerConcurso {
  grid-area: headerConcurso;
  background: #2a9c2a;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: white;
  padding: 10px;
  margin-bottom: 10px; }
  .headerConcurso .headerConcurso__titular h1 {
    font-size: 2em; }
  .headerConcurso .headerConcurso__navMenu {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    justify-content: flex-end; }
    .headerConcurso .headerConcurso__navMenu a {
      background: darkolivegreen;
      color: seashell;
      margin: 1px;
      padding: 2px;
      width: 100px;
      font-size: 12px;
      font-weight: 700;
      text-align: center;
      text-decoration: none; }
      .headerConcurso .headerConcurso__navMenu a:hover {
        background: #2a9c2a; }

.contest2021 {
  display: grid;
  grid-gap: 20px;
  grid-area: contest2021;
  grid-template-areas: "video1Text video1Text  video1" "video2Text video2Text  video2"; }
  .contest2021 .contest2021__video1 {
    grid-area: video1;
    background: black;
    min-width: 350px;
    margin-top: 5px; }
  .contest2021 .contest2021__video1Text {
    grid-area: video1Text;
    padding: 5px;
    background: white;
    min-width: 350px; }
    .contest2021 .contest2021__video1Text:hover {
      transform: scale(102%); }
    .contest2021 .contest2021__video1Text .contest2021__video1Text__titulo {
      padding-left: 3rem;
      font-size: 2.5rem;
      display: flex;
      justify-content: flex-start;
      background: #000;
      color: #fff; }
    .contest2021 .contest2021__video1Text .contest2021__video1Text__parrafo1 {
      font-size: 1.2rem;
      font-weight: 500;
      font-style: italic; }
    .contest2021 .contest2021__video1Text .contest2021__video1Text__parrafo2 {
      font-size: 1rem;
      font-weight: 350; }
  .contest2021 .contest2021__video2 {
    grid-area: video2;
    background: black;
    min-width: 350px;
    margin-top: 5px; }
  .contest2021 .contest2021__video2Text {
    grid-area: video2Text;
    padding: 5px;
    background: white;
    min-width: 350px; }
    .contest2021 .contest2021__video2Text:hover {
      transform: scale(102%); }
    .contest2021 .contest2021__video2Text .contest2021__video2Text__titulo {
      padding-left: 3rem;
      font-size: 2.5rem;
      background: #000;
      color: #fff; }
    .contest2021 .contest2021__video2Text .contest2021__video2Text__parrafo1 {
      font-size: 1.2rem;
      font-weight: 500;
      font-style: italic; }
    .contest2021 .contest2021__video2Text .contest2021__video2Text__parrafo2 {
      font-size: 1rem;
      font-weight: 350; }

.galeriaContest {
  grid-area: galeriaContest;
  margin-bottom: 10px; }
  .galeriaContest .galeriaContest__titulo {
    padding: 0.3125rem 0 0.3125rem 2.5rem;
    margin: 10px 0 10px 0;
    background: #2a9c2a;
    color: white; }
  .galeriaContest .galeriaContest__fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background: white; }
    .galeriaContest .galeriaContest__fotos img {
      margin: 10px; }
      .galeriaContest .galeriaContest__fotos img:hover {
        transform: scale(140%); }

.posiciones {
  grid-area: posiciones; }
  .posiciones .posiciones__titulo {
    background: #2a9c2a;
    color: white;
    padding: 0.3125rem 0 0.3125rem 2.5rem;
    margin: 10px 0 10px 0; }

footer {
  background: #2a9c2a;
  grid-area: footer;
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem;
  margin-top: 10px; }
  footer .footer__links {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto; }
    footer .footer__links a {
      background: darkolivegreen;
      color: seashell;
      margin: 1px;
      padding: 2px;
      width: 100px;
      font-size: 12px;
      font-weight: 700;
      text-align: center;
      text-decoration: none; }
      footer .footer__links a:hover {
        background: #2a9c2a; }
  footer .navSocialNetworks {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto; }

@media (max-width: 1200px) {
  .contNos {
    grid-template-areas: "headerConcurso         headerConcurso          headerConcurso" "contest2021            contest2021             contest2021" "galeriaContest         galeriaContest          galeriaContest" "posiciones             posiciones              posiciones" "footer         footer          footer";
    font-size: 14px; } }

@media (max-width: 992px) {
  .contNos {
    grid-template-areas: "headerConcurso         headerConcurso          headerConcurso" "contest2021            contest2021             contest2021" "galeriaContest         galeriaContest          galeriaContest" "posiciones             posiciones              posiciones" "footer         footer          footer";
    font-size: 12px; } }

@media (max-width: 768px) {
  .contNos {
    grid-template-areas: "headerConcurso         headerConcurso" "contest2021            contest2021" "galeriaContest         galeriaContest" "posiciones             posiciones" "footer         footer"; }
  .contest2021 {
    grid-template-areas: "video1Text video1" "video2Text video2"; } }

@media (max-width: 576px) {
  .contNos {
    grid-template-areas: "headerConcurso" "contest2021" "galeriaContest" "posiciones" "footer"; }
  .contest2021 {
    grid-template-areas: "video1Text" "video1" "video2Text"  "video2"; } }
