* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #e9f1d5;
  color: #000;
  font-family: 'Roboto' , sans-serif; }

.contenedorHome {
  min-width: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  display: grid;
  grid-template-areas: "homeBarImg     homeBarImg      homeBarImg  homeBarImg" "homeContenido  homeContenido   homeContenido   homeContenido" "footer         footer          footer      footer"; }

.homeBarImg {
  grid-area: homeBarImg; }
  .homeBarImg .homeBarImg__menu {
    position: sticky;
    top: 0; }
    .homeBarImg .homeBarImg__menu .homeBarImg__menu__titulo {
      font-size: 1.5em; }
  .homeBarImg img {
    width: 100%;
    background: none; }
  .homeBarImg .homeBarImg__dropdown {
    position: sticky;
    top: 0;
    display: none; }

.socialBar {
  grid-area: socialBar;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 200px;
  z-index: 2000; }
  .socialBar a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    width: 50px;
    height: 50px; }
    .socialBar a .ig, .socialBar a .face, .socialBar a .yt {
      height: 25px;
      width: 25px; }

.homeContenido {
  width: 90%;
  grid-area: homeContenido;
  display: flex;
  margin: auto;
  justify-content: space-between; }
  .homeContenido .homeContenido__aside {
    min-width: 30%;
    margin: 40px 20px 20px 0;
    height: 100%;
    background: black;
    padding: 20px;
    border-radius: 3px;
    position: sticky;
    top: 40px; }
    .homeContenido .homeContenido__aside .homeContenido__aside__titulo {
      font-family: 'Montserrat', sans-serif;
      font-weight: normal;
      font-size: 1.5em;
      margin-bottom: 20px;
      color: #f2f2f2; }
      .homeContenido .homeContenido__aside .homeContenido__aside__titulo a {
        color: #fff;
        text-decoration: none; }
    .homeContenido .homeContenido__aside .homeContenido__aside__indice a {
      padding-left: 70px;
      text-decoration: none;
      outline: none;
      display: block;
      margin-bottom: 10px;
      color: #FFCD48; }
      .homeContenido .homeContenido__aside .homeContenido__aside__indice a:hover {
        text-decoration: underline; }
  .homeContenido .homeContenido__article .homeContenido__article__1,
  .homeContenido .homeContenido__article .homeContenido__article__2,
  .homeContenido .homeContenido__article .homeContenido__article__3,
  .homeContenido .homeContenido__article .homeContenido__article__4,
  .homeContenido .homeContenido__article .homeContenido__article__5 {
    min-height: 15.625rem;
    min-width: 18.75rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.15em;
    padding: 0.625em; }
    .homeContenido .homeContenido__article .homeContenido__article__1 .homeContenidos__titulos,
    .homeContenido .homeContenido__article .homeContenido__article__2 .homeContenidos__titulos,
    .homeContenido .homeContenido__article .homeContenido__article__3 .homeContenidos__titulos,
    .homeContenido .homeContenido__article .homeContenido__article__4 .homeContenidos__titulos,
    .homeContenido .homeContenido__article .homeContenido__article__5 .homeContenidos__titulos {
      font-size: 2.25em;
      color: #575018;
      padding-top: 35px; }
    .homeContenido .homeContenido__article .homeContenido__article__1 .homeContenidos__parrafos,
    .homeContenido .homeContenido__article .homeContenido__article__2 .homeContenidos__parrafos,
    .homeContenido .homeContenido__article .homeContenido__article__3 .homeContenidos__parrafos,
    .homeContenido .homeContenido__article .homeContenido__article__4 .homeContenidos__parrafos,
    .homeContenido .homeContenido__article .homeContenido__article__5 .homeContenidos__parrafos {
      font-size: 1.35em;
      font-weight: 900;
      font-style: italic; }

footer {
  background: black;
  grid-area: footer;
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 10px;
  color: #fff;
  padding: 20px 0 20px 0; }
  footer .footer__logo {
    color: #fff;
    height: 7em; }
  footer .footer__copyright {
    align-items: bottom; }
    footer .footer__copyright .footer__copyright__titulo {
      font-size: 1.1em;
      color: bisque; }
    footer .footer__copyright p {
      font-size: 0.8em; }
  footer .footer__redes {
    color: bisque; }
  footer .footer__links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; }
    footer .footer__links h6 {
      color: bisque; }
    footer .footer__links a {
      color: #fff;
      font-size: 0.875em;
      font-weight: 700;
      text-align: left;
      text-decoration: none; }
      footer .footer__links a:hover {
        text-decoration-line: underline; }
  footer .navSocialNetworks {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: auto; }
    footer .navSocialNetworks .icon-instagram,
    footer .navSocialNetworks .icon-facebook-squared,
    footer .navSocialNetworks .icon-youtube {
      font-size: 1.25em;
      text-decoration: none;
      color: #fff; }

@media (max-width: 1280) {
  .contenedorHome {
    grid-template-areas: "homeHeader homeHeader  homeHeader  homeHeader"  "contenedorHome__dropdown   contenedorHome__dropdown contenedorHome__dropdown contenedorHome__dropdown" "homeBarImg homeBarImg  homeBarImg  homeBarImg" "contenido1 contenido2  contenido3  contenido4" "homeArticle homeArticle homeArticle homeArticle" "footer footer  footer  footer"; }
    .contenedorHome .homeBarImg__dropdown {
      display: none; } }

@media (max-width: 1200) {
  .contenedorHome {
    grid-template-areas: "homeHeader homeHeader  homeHeader  homeHeader"  "homeBarImg homeBarImg  homeBarImg  homeBarImg" "contenido1 contenido2  contenido3  contenido4" "homeArticle    homeArticle homeArticle homeArticle" "footer footer  footer  footer"; }
    .contenedorHome .homeBarImg__dropdown {
      display: none; } }

@media (max-width: 992px) {
  .contenedorHome {
    grid-template-areas: "homeHeader homeHeader  homeHeader" "homeBarImg homeBarImg  homeBarImg" "contenido1 contenido2  contenido3" "contenido4 contenido4  contenido4" "homeArticle    homeArticle homeArticle" "footer footer  footer"; }
    .contenedorHome .homeBarImg__dropdown {
      display: none; } }

@media (max-width: 768px) {
  .contenedorHome {
    font-size: 15px;
    grid-template-areas: "homeHeader homeHeader" "homeBarImg homeBarImg" "contenido1 contenido2" "contenido3 contenido4" "homeArticle homeArticle" "footer footer"; }
    .contenedorHome .homeBarImg__dropdown {
      display: none; } }

@media (max-width: 576px) {
  .contenedorHome {
    font-size: 12px;
    width: 100%;
    margin: 0;
    grid-template-areas: "homeBarImg" "homeContenido" "footer"; }
    .contenedorHome .homeBarImg .homeBarImg__menu .homeBarImg__menu__titulo {
      font-size: 20px; }
    .contenedorHome .socialBar {
      display: none; }
    .contenedorHome .homeContenido__aside {
      display: none; }
    .contenedorHome .footer__logo {
      height: 50px; }
    .contenedorHome .footer__copyright {
      width: 60px; } }

@keyframes logoBeat {
  0% {
    width: 125px;
    height: 120px; }
  25% {
    width: 150px;
    height: 145px; }
  50% {
    width: 125px;
    height: 120px; }
  75% {
    width: 150px;
    height: 145px; }
  100% {
    width: 125px;
    height: 120px; } }

.nosContainer {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  display: grid;
  grid-template-areas: "nosHeader  nosHeader          nosHeader           nosHeader" "nosBarImg  nosHeader__nosMenu nosHeader__nosMenu  nosHeader__nosMenu" "nosBarImg  mainNos            mainNos             asideNos" "nosBarImg  sectionNos         sectionNos          asideNos" "nosBarImg  articleNos         articleNos          articleNos" "footer     footer             footer              footer"; }

.nosBarImg {
  color: #fff;
  grid-area: nosBarImg;
  flex-wrap: wrap;
  align-items: center;
  margin: 5px 5px 0 0; }
  .nosBarImg .nosBarImg__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    position: sticky;
    left: 0;
    top: 0; }
    .nosBarImg .nosBarImg__menu .nosBarImg__menu__nos {
      background: #616461; }
    .nosBarImg .nosBarImg__menu a {
      background: #1f1e1e;
      color: #fff;
      padding: 20px;
      width: 100%;
      text-align: center;
      color: #fff;
      transition: .3s ease-out all;
      text-decoration: none; }
      .nosBarImg .nosBarImg__menu a:hover {
        background: #2a9c2a;
        color: #fff; }

.nosHeader {
  grid-area: nosHeader; }

.mainNos {
  background: white;
  grid-area: mainNos;
  font-size: 1.125em;
  padding: 5px;
  margin: 5px 5px 0 0; }
  .mainNos .mainNos__titulo {
    font-family: 'Roboto', sans-serif;
    font-weight: 700; }
  .mainNos .mainNos__parrafo {
    font-family: 'Roboto', sans-serif;
    font-weight: 400; }

.sectionNos {
  background: darkgray;
  grid-area: sectionNos;
  font-size: 1em;
  padding: 5px;
  margin: 5px 5px 0 0; }
  .sectionNos .sectionNos__section1 {
    font-size: 1em;
    padding: 5px;
    margin: 5px 0 5px 0; }
    .sectionNos .sectionNos__section1 .sectionNos__section1__titulo {
      font-family: 'Roboto', sans-serif;
      font-style: italic; }
    .sectionNos .sectionNos__section1 .sectionNos__section1__parrafo {
      font-family: 'Roboto', sans-serif;
      font-style: italic;
      color: white; }
  .sectionNos .sectionNos__section2 {
    font-size: 1em;
    padding: 5px;
    margin: 5px 0 5px 0; }
    .sectionNos .sectionNos__section2 .sectionNos__section2__titulo {
      font-family: 'Roboto', sans-serif;
      font-style: italic; }
    .sectionNos .sectionNos__section2 .sectionNos__section2__parrafo {
      font-family: 'Roboto', sans-serif;
      font-style: italic;
      color: white; }

.asideNos {
  grid-area: asideNos;
  margin: 5px 0 0 0; }
  .asideNos .asideNos__img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.articleNos {
  background: white;
  grid-area: articleNos;
  font-size: 1rem;
  padding: 5px;
  margin: 5px 0 5px 0; }
  .articleNos .articleNos__titulo {
    font-size: 1.5rem;
    font-style: italic;
    background-color: grey;
    color: white; }
  .articleNos .articleNos__parrafo {
    font-family: 'Roboto', sans-serif;
    font-size: 1.15rem;
    font-weight: 500;
    font-style: italic; }

footer {
  background: black;
  grid-area: footer;
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 10px;
  color: #fff;
  padding: 20px 0 20px 0; }
  footer .footer__logo {
    color: #fff;
    height: 7em; }
  footer .footer__copyright {
    align-items: bottom; }
    footer .footer__copyright .footer__copyright__titulo {
      font-size: 1.1em;
      color: bisque; }
    footer .footer__copyright p {
      font-size: 0.8em; }
  footer .footer__redes {
    color: bisque; }
  footer .footer__links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; }
    footer .footer__links h6 {
      color: bisque; }
    footer .footer__links a {
      color: #fff;
      font-size: 0.875em;
      font-weight: 700;
      text-align: left;
      text-decoration: none; }
      footer .footer__links a:hover {
        text-decoration-line: underline; }
  footer .navSocialNetworks {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: auto; }
    footer .navSocialNetworks .icon-instagram,
    footer .navSocialNetworks .icon-facebook-squared,
    footer .navSocialNetworks .icon-youtube {
      font-size: 1.25em;
      text-decoration: none;
      color: #fff; }

@media (max-width: 1200px) {
  .nosContainer {
    grid-template-areas: "nosBarImg  nosHeader          nosHeader           nosHeader" "nosBarImg  nosHeader__nosMenu nosHeader__nosMenu  nosHeader__nosMenu" "nosBarImg  mainNos            mainNos             asideNos" "nosBarImg  sectionNos         sectionNos          asideNos" "nosBarImg  articleNos         articleNos          articleNos" "footer          footer           footer"; } }

@media (max-width: 992px) {
  .nosContainer {
    grid-template-areas: "nosBarImg nosHeader          nosHeader           nosHeader" "nosBarImg nosHeader__nosMenu nosHeader__nosMenu  nosHeader__nosMenu" "nosBarImg mainNos            mainNos             asideNos" "nosBarImg sectionNos         sectionNos          asideNos" "nosBarImg articleNos         articleNos          articleNos" "footer    footer          footer           footer"; } }

@media (max-width: 768px) {
  .nosContainer {
    grid-template-areas: "nosHeader          nosHeader"  "nosHeader__nosMenu nosHeader__nosMenu"  "mainNos            mainNos"  "asideNos           asideNos"  "sectionNos         sectionNos" "articleNos         articleNos" "footer          footer"; } }

@media (max-width: 576px) {
  .nosContainer {
    grid-template-areas: "nosHeader" "nosHeader__nosMenu"  "mainNos"  "asideNos"      "sectionNos" "articleNos" "footer"; } }

.encContainer {
  min-width: 20rem;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-areas: "encHeader     encHeader" "encNavMenu    encNavMenu" "encCompartir  encCompartir" "encLugares    encMapa" "footer        footer";
  grid-template-columns: 1fr 1fr; }

.encHeader {
  grid-area: encHeader; }

.encNavMenu {
  grid-area: encNavMenu;
  background: #2a9c2a;
  display: flex;
  justify-content: end;
  align-items: center; }
  .encNavMenu a {
    background: darkolivegreen;
    color: seashell;
    margin: 1px;
    padding: 2px;
    width: 100px;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    text-decoration: none; }
    .encNavMenu a:hover {
      background: #2a9c2a; }

.encCompartir {
  font-family: 'Roboto', sans-serif;
  grid-area: encCompartir;
  background: #fcf3f3;
  padding: 10px; }
  .encCompartir .encCompartir__titulo {
    font-weight: 400;
    font-size: 2.25rem; }
  .encCompartir .encCompartir__parrafo {
    font-style: italic;
    font-size: 1.15rem; }

.encLugares {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  grid-area: encLugares;
  background: white;
  padding: 10px; }
  .encLugares .encLugares__titulo {
    font-size: 1.75rem;
    font-weight: 500; }
  .encLugares .encLugares__parrafo {
    font-size: 0.95rem; }

.encMapa {
  grid-area: encMapa; }

footer {
  background: black;
  grid-area: footer;
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 10px;
  color: #fff;
  padding: 20px 0 20px 0; }
  footer .footer__logo {
    color: #fff;
    height: 7em; }
  footer .footer__copyright {
    align-items: bottom; }
    footer .footer__copyright .footer__copyright__titulo {
      font-size: 1.1em;
      color: bisque; }
    footer .footer__copyright p {
      font-size: 0.8em; }
  footer .footer__redes {
    color: bisque; }
  footer .footer__links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; }
    footer .footer__links h6 {
      color: bisque; }
    footer .footer__links a {
      color: #fff;
      font-size: 0.875em;
      font-weight: 700;
      text-align: left;
      text-decoration: none; }
      footer .footer__links a:hover {
        text-decoration-line: underline; }
  footer .navSocialNetworks {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: auto; }
    footer .navSocialNetworks .icon-instagram,
    footer .navSocialNetworks .icon-facebook-squared,
    footer .navSocialNetworks .icon-youtube {
      font-size: 1.25em;
      text-decoration: none;
      color: #fff; }

@media (max-width: 1200px) {
  .encContainer {
    grid-template-areas: "encHeader     encHeader" "encNavMenu    encNavMenu" "encCompartir  encCompartir" "encLugares    encMapa" "footer     footer"; } }

@media (max-width: 992px) {
  .encContainer {
    grid-template-areas: "encHeader     encHeader" "encNavMenu    encNavMenu" "encCompartir  encCompartir" "encLugares    encMapa" "footer     footer"; } }

@media (max-width: 768px) {
  .encContainer {
    grid-template-areas: "encHeader     encHeader" "encNavMenu    encNavMenu" "encCompartir  encCompartir" "encLugares    encMapa" "footer     footer"; } }

@media (max-width: 576px) {
  .encContainer {
    grid-template-areas: "encHeader" "encNavMenu"    "encCompartir" "encMapa" "encLugares" "footer"; }
    .encContainer .encHeader {
      font-size: 1.25em; }
    .encContainer .encCompartir .encCompartir__titulo {
      font-size: 1.75rem; }
    .encContainer .encCompartir .encCompartir__parrafo {
      font-size: 1rem; } }

.galContainer {
  min-width: 20rem;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "galHeader      galHeader   galHeader"  "aquascaping    contenido   asideGaleria" "biotope        contenido2  asideGaleria" "wabiKusa       contenido3  asideGaleria" "footer         footer      footer"; }

.galHeader {
  grid-area: galHeader; }

.asideGaleria {
  grid-area: asideGaleria;
  padding: 10px;
  border-radius: 2px;
  background: #a6bd9d;
  margin-left: 10px;
  margin-top: 10px; }
  .asideGaleria .asideGaleria__titulo {
    font-size: 2.5em; }
  .asideGaleria .asideGaleria__p1 {
    font-size: 19px;
    font-weight: 680; }
  .asideGaleria .asideGaleria__p2 {
    font-size: 18px;
    font-weight: 660; }
  .asideGaleria .asideGaleria__p3 {
    font-size: 17px;
    font-weight: 640; }
  .asideGaleria .asideGaleria__p4 {
    font-size: 16px;
    font-weight: 620; }

.contenido div div img,
.contenido2 div div img,
.contenido3 div div img {
  height: 300px;
  width: 400px;
  margin-top: 10px; }

.aquascaping {
  grid-area: aquascaping;
  padding: 10px; }
  .aquascaping .aquascaping__titulo {
    background: #000;
    color: #fff;
    font-size: 2.5em; }
  .aquascaping .aquascaping__parrafo {
    font-style: italic;
    font-size: 1.1em; }

.biotope {
  grid-area: biotope;
  padding: 10px; }
  .biotope .biotope__titulo {
    font-size: 2.5em;
    background: #000;
    color: #fff; }
  .biotope .biotope__parrafo {
    font-style: oblique;
    font-size: 1.1em; }

.wabiKusa {
  grid-area: wabiKusa;
  padding: 10px; }
  .wabiKusa .wabikusa__titulo {
    font-size: 2.5em;
    background: #000;
    color: #fff; }
  .wabiKusa .wabiKusa__parrafo {
    font-style: oblique;
    font-size: 1.1em; }

.contenido {
  grid-area: contenido; }

.contenido2 {
  grid-area: contenido2; }

.contenido3 {
  grid-area: contenido3; }

footer {
  background: black;
  grid-area: footer;
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 10px;
  color: #fff;
  padding: 20px 0 20px 0; }
  footer .footer__logo {
    color: #fff;
    height: 7em; }
  footer .footer__copyright {
    align-items: bottom; }
    footer .footer__copyright .footer__copyright__titulo {
      font-size: 1.1em;
      color: bisque; }
    footer .footer__copyright p {
      font-size: 0.8em; }
  footer .footer__redes {
    color: bisque; }
  footer .footer__links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; }
    footer .footer__links h6 {
      color: bisque; }
    footer .footer__links a {
      color: #fff;
      font-size: 0.875em;
      font-weight: 700;
      text-align: left;
      text-decoration: none; }
      footer .footer__links a:hover {
        text-decoration-line: underline; }
  footer .navSocialNetworks {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: auto; }
    footer .navSocialNetworks .icon-instagram,
    footer .navSocialNetworks .icon-facebook-squared,
    footer .navSocialNetworks .icon-youtube {
      font-size: 1.25em;
      text-decoration: none;
      color: #fff; }

@media (max-width: 1200px) {
  .galContainer {
    grid-template-areas: "galHeader      galHeader   galHeader"  "aquascaping    contenido   asideGaleria" "biotope        contenido2  asideGaleria" "wabiKusa       contenido3  asideGaleria" "footer         footer      footer"; } }

@media (max-width: 992px) {
  .galContainer {
    grid-template-areas: "galHeader      galHeader"      "aquascaping    contenido"  "biotope        contenido2" "wabiKusa       contenido3" "asideGaleria   asideGaleria" "footer         footer"; } }

@media (max-width: 768px) {
  .galContainer {
    grid-template-areas: "galHeader" "aquascaping" "contenido" "biotope" "contenido2" "wabiKusa" "contenido3" "asideGaleria" "footer"; } }

.contConcurso {
  min-width: 20rem;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  display: grid;
  grid-template-areas: "headerConcurso         headerConcurso          headerConcurso" "contest2021            contest2021             contest2021" "galeriaContest         galeriaContest          galeriaContest" "posiciones             posiciones              posiciones" "footer                 footer                  footer"; }

.headerConcurso {
  grid-area: headerConcurso; }

.contest2021 {
  display: grid;
  grid-gap: 20px;
  grid-area: contest2021;
  grid-template-areas: "video1Text video1Text  video1" "video2Text video2Text  video2"; }
  .contest2021 .contest2021__video1 {
    grid-area: video1;
    background: black;
    min-width: 350px;
    margin-top: 5px; }
  .contest2021 .contest2021__video1Text {
    grid-area: video1Text;
    padding: 20px;
    background: white;
    min-width: 350px; }
    .contest2021 .contest2021__video1Text .contest2021__video1Text__titulo {
      text-align: center;
      font-size: 2em;
      font-weight: 700;
      color: #000; }
    .contest2021 .contest2021__video1Text .contest2021__video1Text__parrafo1 {
      font-size: 1.2rem;
      font-weight: 500;
      font-style: italic; }
    .contest2021 .contest2021__video1Text .contest2021__video1Text__parrafo2 {
      font-size: 1rem;
      font-weight: 350; }
  .contest2021 .contest2021__video2 {
    grid-area: video2;
    background: black;
    min-width: 350px;
    margin-top: 5px; }
  .contest2021 .contest2021__video2Text {
    grid-area: video2Text;
    padding: 20px;
    background: white;
    min-width: 350px; }
    .contest2021 .contest2021__video2Text .contest2021__video2Text__titulo {
      text-align: center;
      font-size: 2em;
      font-weight: 700;
      color: #000; }
    .contest2021 .contest2021__video2Text .contest2021__video2Text__parrafo1 {
      font-size: 1.2rem;
      font-weight: 500;
      font-style: italic; }
    .contest2021 .contest2021__video2Text .contest2021__video2Text__parrafo2 {
      font-size: 1rem;
      font-weight: 350; }

.galeriaContest {
  grid-area: galeriaContest;
  margin-bottom: 10px; }
  .galeriaContest .galeriaContest__titulo {
    padding: 0.3125rem 0 0.3125rem 2.5rem;
    margin: 10px 0 10px 0;
    background: #2a9c2a;
    color: white; }
  .galeriaContest .galeriaContest__fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background: white; }
    .galeriaContest .galeriaContest__fotos img {
      margin: 10px; }
      .galeriaContest .galeriaContest__fotos img:hover {
        transform: scale(140%); }

.posiciones {
  grid-area: posiciones; }
  .posiciones .posiciones__titulo {
    background: #2a9c2a;
    color: white;
    padding: 0.3125rem 0 0.3125rem 2.5rem;
    margin: 10px 0 10px 0; }

footer {
  background: black;
  grid-area: footer;
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 10px;
  color: #fff;
  padding: 20px 0 20px 0; }
  footer .footer__logo {
    color: #fff;
    height: 7em; }
  footer .footer__copyright {
    align-items: bottom; }
    footer .footer__copyright .footer__copyright__titulo {
      font-size: 1.1em;
      color: bisque; }
    footer .footer__copyright p {
      font-size: 0.8em; }
  footer .footer__redes {
    color: bisque; }
  footer .footer__links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; }
    footer .footer__links h6 {
      color: bisque; }
    footer .footer__links a {
      color: #fff;
      font-size: 0.875em;
      font-weight: 700;
      text-align: left;
      text-decoration: none; }
      footer .footer__links a:hover {
        text-decoration-line: underline; }
  footer .navSocialNetworks {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: auto; }
    footer .navSocialNetworks .icon-instagram,
    footer .navSocialNetworks .icon-facebook-squared,
    footer .navSocialNetworks .icon-youtube {
      font-size: 1.25em;
      text-decoration: none;
      color: #fff; }

@media (max-width: 1200px) {
  .contNos {
    grid-template-areas: "headerConcurso         headerConcurso          headerConcurso" "contest2021            contest2021             contest2021" "galeriaContest         galeriaContest          galeriaContest" "posiciones             posiciones              posiciones" "footer         footer          footer";
    font-size: 14px; } }

@media (max-width: 992px) {
  .contNos {
    grid-template-areas: "headerConcurso         headerConcurso          headerConcurso" "contest2021            contest2021             contest2021" "galeriaContest         galeriaContest          galeriaContest" "posiciones             posiciones              posiciones" "footer         footer          footer";
    font-size: 12px; } }

@media (max-width: 768px) {
  .contNos {
    grid-template-areas: "headerConcurso         headerConcurso" "contest2021            contest2021" "galeriaContest         galeriaContest" "posiciones             posiciones" "footer         footer"; }
  .contest2021 {
    grid-template-areas: "video1Text video1" "video2Text video2"; } }

@media (max-width: 576px) {
  .contNos {
    grid-template-areas: "headerConcurso" "contest2021" "galeriaContest" "posiciones" "footer"; }
  .contest2021 {
    grid-template-areas: "video1Text" "video1" "video2Text"  "video2"; } }
