footer {
    background:black;
    grid-area: footer;
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 10px;
    color: #fff;
    padding: 20px 0 20px 0;
    .footer__logo {
        color: #fff;
        height: 7em;
    }
    .footer__copyright {
        align-items: bottom;
        .footer__copyright__titulo {
            font-size: 1.1em;
            color:bisque;
        }
        p {
            font-size: 0.8em;
        }
    }
    .footer__redes {
        color: bisque;
    }
    .footer__links {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        h6 {
            color:bisque;
        }
        a {
            color: #fff;
            // width: 6.25rem;
            font-size: 0.875em;
            font-weight: 700;
            text-align: left;
            text-decoration: none;
            &:hover {
                text-decoration-line: underline;
            }
        }
    }    
    .navSocialNetworks {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex-basis: auto;
        .icon-instagram,
        .icon-facebook-squared,
        .icon-youtube {
            font-size: 1.25em;
            text-decoration: none;
            color:#fff;
        }
    }
} 