body {
    background: url(../multimedia/abstractBlue.jpg);
}

.contenedorHome {
    // width: 100%;
    // max-width: 80rem;
    // min-width:20rem;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    // margin: 20px auto;
    display: grid;
    grid-gap: 0;
    grid-template-areas:   
                            "homeHeader     homeHeader  homeHeader  homeHeader" 
                            "homeBarImg     homeBarImg  homeBarImg  homeBarImg"
                            "contenido1     contenido2  contenido3  contenido4"
                            "homeArticle    homeArticle homeArticle homeArticle"
                            "footer         footer      footer      footer";
}

.homeHeader {
    grid-area: homeHeader;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    // padding: 1.25rem;

    .homeHeader__imgLogo {
        height: 100px;
        animation-name: logoBeat;
        animation-iteration-count: initial;
        animation-timing-function: ease-in;
        animation-duration: 1s;
        animation-delay: 0s;
    }    
    .homeHeader__titular {
        h1 {
            color: white;
            font-weight: 800;
            border: #000;
            font-size: 4em;
            text-transform: uppercase;
        }
    }
}

.homeBarImg {
    grid-area: homeBarImg;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
    .homeBarImg__menu {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        position: sticky;
        top: 0;
        .homeBarImg__menu__home {
            background: rgb(97, 100, 97);   
        }

        a {
            background: rgb(31, 30, 30);
            padding: 20px;
            width: 100%;
            text-align: center;
            color: #fff;
            transition: .3s ease-out all;
            text-decoration: none;
            &:hover {
                background: rgb(42, 156, 42);
                color: #fff;
            }
        }
    }
    img {
        width: 100%;
        background: none;
    }
    .homeBarImg__dropdown {
        background: black;
        position: sticky;
        top: 0;
        display: none;
    }
}

.homeContenido1,
.homeContenido2,
.homeContenido3,
.homeContenido4 {
    min-height: 15.625rem;
    min-width: 18.75rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.15rem;
    padding: 0.625rem;
    .contenidos__titulo {
        font-size: 2rem;
    }
    .contenidos__parrafo {
        font-size: 1.35rem;
        font-weight: 900;
        font-style: italic;
    }
}

.homeContenido1:hover,
.homeContenido2:hover,
.homeContenido3:hover,
.homeContenido4:hover {
    transform: scale(105%)
}

.homeContenido1 {
    background: white;
    grid-area: contenido1;
    }

.homeContenido2 {
    background: #000;
    grid-area: contenido2;
    color: #fff;
    }

.homeContenido3 {
    background: white;
    grid-area: contenido3;
    }

.homeContenido4 {
    background: #000;
    grid-area: contenido4;
    color: #fff;
    }

.homeArticle {
    border-style: solid;
    grid-area: homeArticle;
    padding:10px;
    margin-top: 10px;
    h3 {
        text-align: center;
    }
    p {
        text-align:center;
        font-size: 1.15em;
    }
}

@import "footer";

@import "mediaqHome";