.contenedorHome {
    min-width:0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    display: grid;
    grid-template-areas:   
        "homeBarImg     homeBarImg      homeBarImg      homeBarImg"
        "homeContenido  homeContenido   homeContenido   homeContenido"
        "footer         footer          footer          footer";
}

.homeBarImg {
    grid-area: homeBarImg;
    .homeBarImg__menu {
        z-index: 9;
        position: sticky;
        top: 0;
    }
    img {
        width: 100%;
        background: none;
        clip-path: polygon(100% 90%, 50% 100%, 0 90%, 0 0, 100% 0);
        }
    .homeBarImg__dropdown {
        position: sticky;
        top: 0;
        display: none;
    }
}

.socialBar {
    grid-area: socialBar;
    display: flex;
    flex-direction: column;
	position: fixed;
	right: 0;
	top:200px;
	z-index:2000;
        a {
            color:white;
            padding:10px 15px;
            text-decoration:none;
            width: 50px;
            height: 50px;
        .ig, .face, .yt {
            height: 25px;
            width: 25px;
        }
    }    
}
.homeContenido {
    width: 90%;
    grid-area: homeContenido;
    display: flex;
    margin: auto;
    justify-content: space-between;
    .homeContenido__aside {
        background-image: url(../multimedia/fondo-betta-geadbb0e0d_640.jpg);
        clip-path: polygon(80% 0, 100% 50%, 80% 100%, 0% 100%, 10% 50%, 0% 0%);
        min-width: 30%;
        margin: 40px 20px 20px 0;
        height: 100%;
        padding: 20px;
        border-radius: 3px;
        position: sticky;
        top: 40px;
        .homeContenido__aside__titulo {
            font-family: 'Montserrat', sans-serif;
            text-align: start;
            font-weight: normal;
            font-size: 1.5em;
            margin-bottom: 20px;
            color: #f2f2f2;
            a {
                color: #fff;
                text-decoration: none;
            }
        }
        .homeContenido__aside__indice {
            a {
            padding-left: 70px;
            text-decoration: none;
            outline: none;
            display: block;
            margin-bottom: 10px;
            color: #FFCD48;
                &:hover {
                    text-decoration: underline;
                }
            }
        }      
    }
    .homeContenido__article {
        .homeContenido__article__1,
        .homeContenido__article__2,
        .homeContenido__article__3,
        .homeContenido__article__4,
        .homeContenido__article__5 {        
            min-height: 15.625rem;
            min-width: 18.75rem;
            font-family: 'Roboto', sans-serif;
            font-size: 1.15em;
            padding: 0.625em;
            .homeContenidos__titulos {
                font-size: 2.25em;
                color: rgb(87, 80, 24);
                padding-top: 35px;
            }
            .homeContenidos__parrafos {
                z-index: 99;
                font-size: 1.35em;
                font-weight: 900;
                font-style: italic;
            }
        }
        .homeContenido__article__1 {
            .modal-header {
                background: black;
            }
            .modal-title {
                color:white;
            }
            .modal-body {
                h5 {
                    color:rgb(30, 134, 17);
                }
                ul li {
                    list-style: disc;
                    font-style: italic;
                }
            }  
            img {
                max-height: 18.75em;
            }
            .homeContenido__article__1__imagenes {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                img {
                    max-height: 20em;
                    max-width: 23em;
                    clip-path: polygon(50% 0, 100% 15%, 100% 100%, 50% 85%, 0 100%, 0 15%);
                }
            }
        }
        .homeContenido__article__2 {
            .homeContenido__article__2__imagenes{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                img {
                    max-height: 20em;
                    max-width: 23em;
                    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
                }
            }
        }
        .homeContenido__article__3 {
            .homeContenido__article__3__imagenes {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                img {
                    max-height: 20em;
                    max-width: 23em;            
                }
            }
        }
        .homeContenido__article__4 {
            .homeContenido__article__4__imagenes {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                img {
                    max-height: 20em;
                    max-width: 23em;
                    clip-path: circle(50% at 50% 50%);
                }
            }
        }
        .homeContenido__article__5 {
            .homeContenido__article__5__imagenes {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                img{
                    max-height: 20em;
                    max-width: 23em;
                    clip-path: polygon(50% 15%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);    
                }
            }
        }
    }
} 

@import "footer";
@import "mediaqHome";