.contenedorHome {
    // width: 100%;
    // max-width: 100rem;
    min-width:0;
    // padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    // margin: 20px auto;
    display: grid;
    // grid-gap: 0;
    grid-template-areas:   
        // "homeHeader     homeHeader      homeHeader  homeHeader" 
        "homeBarImg     homeBarImg      homeBarImg  homeBarImg"
        "homeContenido  homeContenido   homeContenido   homeContenido"
        "footer         footer          footer      footer";
}

.homeBarImg {
    grid-area: homeBarImg;

    .homeBarImg__menu {
        position: sticky;
        top: 0;
        .homeBarImg__menu__titulo {
            font-size: 1.5em;
        }
    }
    img {
        width: 100%;
        background: none;
    }
    .homeBarImg__dropdown {
        // background: black;
        position: sticky;
        top: 0;
        display: none;
    }
}

.socialBar {
    grid-area: socialBar;
    display: flex;
    flex-direction: column;
	position: fixed;
	right: 0;
	top:200px;
	z-index:2000;
        a {
            color:white;
            padding:10px 15px;
            text-decoration:none;
            width: 50px;
            height: 50px;
        .ig, .face, .yt {
            height: 25px;
            width: 25px;
        }
    }    
}

.homeContenido {
    width: 90%;
    grid-area: homeContenido;
    display: flex;
    margin: auto;
    justify-content: space-between;
    .homeContenido__aside {
        min-width: 30%;
        margin: 40px 20px 20px 0;
        height: 100%;
        background: black;
        padding: 20px;
        border-radius: 3px;
        position: sticky;
        top: 40px;
        .homeContenido__aside__titulo {
            font-family: 'Montserrat', sans-serif;
            font-weight: normal;
            font-size: 1.5em;
            margin-bottom: 20px;
            color: #f2f2f2;
            a {
                color: #fff;
                text-decoration: none;
            }
        }
        .homeContenido__aside__indice {
            a {
            padding-left: 70px;
            text-decoration: none;
            outline: none;
            display: block;
            margin-bottom: 10px;
            color: #FFCD48;
                &:hover {
                    text-decoration: underline;
                }
            }
        }      
    }
    .homeContenido__article {
        .homeContenido__article__1,
        .homeContenido__article__2,
        .homeContenido__article__3,
        .homeContenido__article__4,
        .homeContenido__article__5 {
            min-height: 15.625rem;
            min-width: 18.75rem;
            font-family: 'Roboto', sans-serif;
            font-size: 1.15em;
            padding: 0.625em;
            .homeContenidos__titulos {
                font-size: 2.25em;
                color: rgb(87, 80, 24);
                padding-top: 35px;
            }
            .homeContenidos__parrafos {
                font-size: 1.35em;
                font-weight: 900;
                font-style: italic;
            }
        }
    }
}   

@import "footer";

@import "mediaqHome";