@media (max-width: 1200px) {
    .galContainer {
        grid-template-areas:    
        "galHeader      galHeader   galHeader" 
        "aquascaping    contenido   asideGaleria"
        "biotope        contenido2  asideGaleria"
        "wabiKusa       contenido3  asideGaleria"
        "footer         footer      footer";
        }
}

@media (max-width: 992px) {
    .galContainer {
        grid-template-areas:
        "galHeader      galHeader"     
        "aquascaping    contenido" 
        "biotope        contenido2"
        "wabiKusa       contenido3"
        "asideGaleria   asideGaleria"
        "footer         footer";
        }
}

@media (max-width:768px) {
    .galContainer {
        grid-template-areas:    
        "galHeader"
        "aquascaping"
        "contenido"
        "biotope"
        "contenido2"
        "wabiKusa"
        "contenido3"
        "asideGaleria"
        "footer";                     
        }
}