@media (max-width:1280){
    .contenedorHome {
        grid-template-areas:    
        "homeHeader homeHeader  homeHeader  homeHeader" 
        "contenedorHome__dropdown   contenedorHome__dropdown contenedorHome__dropdown contenedorHome__dropdown"
        "homeBarImg homeBarImg  homeBarImg  homeBarImg"
        "contenido1 contenido2  contenido3  contenido4"
        "homeArticle homeArticle homeArticle homeArticle"
        "footer footer  footer  footer";

        .homeBarImg__dropdown {
            display: none;
        }
    }  
}

@media (max-width:1200){
    .contenedorHome {
        grid-template-areas:
        "homeHeader homeHeader  homeHeader  homeHeader" 
        "homeBarImg homeBarImg  homeBarImg  homeBarImg"
        "contenido1 contenido2  contenido3  contenido4"
        "homeArticle    homeArticle homeArticle homeArticle"
        "footer footer  footer  footer";  

        .homeBarImg__dropdown {
            display: none;
        }
    }  
}

@media (max-width: 992px) {
    .contenedorHome {
        grid-template-areas:  
                            "homeHeader homeHeader  homeHeader"
                            "homeBarImg homeBarImg  homeBarImg"
                            "contenido1 contenido2  contenido3"
                            "contenido4 contenido4  contenido4"
                            "homeArticle    homeArticle homeArticle"
                            "footer footer  footer";
        .homeBarImg__dropdown {
            display: none;
        }   
    }    
}

@media (max-width:768px) {
    .contenedorHome {
        grid-template-areas:    "homeHeader homeHeader"
                                "homeBarImg homeBarImg"
                                "contenido1 contenido2"
                                "contenido3 contenido4"
                                "homeArticle homeArticle"
                                "footer footer";

        .homeHeader__titular {
            font-size: 14px;
        }
        .homeBarImg__dropdown {
            display: none;
        }
    }
}

@media (max-width:576px) {
    .contenedorHome {
        width: 100%;
        margin: 0;
        grid-template-areas:    
            "homeHeader"
            "contenedorHome__dropdown"
            "homeBarImg"
            "contenido1"
            "contenido2"
            "contenido3"
            "contenido4"
            "homeArticle"
            "footer";
            
            .homeHeader__imgLogo {
                display: none;
            }
            .homeHeader__titular {
                font-size: 12px;
            }    
            .homeBarImg__menu {
                display: none;
            }
            .homeBarImg__dropdown {
                display: contents;
            }  
        }
    }

@keyframes logoBeat {
	0%	    {width: 125px; height:120px;}
	25%	    {width: 150px; height: 145px;}
	50%	    {width: 125px; height: 120px;}
	75% 	{width:	150px; height: 145px;}
	100%	{width:	125px; height: 120px;}
}
