@media (max-width:1280){
    .contenedorHome {
        grid-template-areas:    
        "homeBarImg homeBarImg  homeBarImg  homeBarImg"
        "homeContenido homeContenido homeContenido homeContenido"
        "footer footer  footer  footer"; 
    }  
}

@media (max-width:1200){
    .contenedorHome {
        grid-template-areas:
        "homeBarImg homeBarImg  homeBarImg  homeBarImg"
        "homeContenido homeContenido homeContenido homeContenido"
        "footer footer  footer  footer";
    }  
}

@media (max-width: 992px) {
    .contenedorHome {
        grid-template-areas:  
        "homeBarImg homeBarImg  homeBarImg"
        "homeContenido homeContenido homeContenido"
        "footer footer  footer";  
    }    
}

@media (max-width:768px) {
    .contenedorHome {
        font-size: 15px;
        grid-template-areas:    
        "homeBarImg homeBarImg"
        "homeContenido homeContenido"
        "footer footer";
        .socialBar {
            display: none;
        }
        .homeContenido__aside {
            display: none;
        }
        .footer__logo {
            height: 50px;
        }
        .footer__copyright {
            width: 60px;
        }
        .footer__links {
            font-size: 18px;
        }
        .footer__redes .navSocialNetworks a {
            font-size: 28px;
        }
    }
}

@media (max-width:576px) {
    .contenedorHome {
        font-size: 14px;
        width: 100%;
        margin: 0;
        grid-template-areas:    
        "homeBarImg"
        "homeContenido"
        "footer";
        .homeBarImg {    
            .homeBarImg__menu {
                .homeBarImg__menu__titulo {
                    font-size: 20px;
                }
            }
        }    
        .socialBar {
            display: none;
        }
        .homeContenido__aside {
            display: none;
        }
        .footer__logo {
            height: 50px;
        }
        .footer__copyright {
            width: 60px;
        }
        .footer__links {
            font-size: 18px;
        }
        .footer__redes .navSocialNetworks a {
            font-size: 28px;
        }
    }
}

@keyframes logoBeat {
	0%	    {width: 125px; height:120px;}
	25%	    {width: 150px; height: 145px;}
	50%	    {width: 125px; height: 120px;}
	75% 	{width:	150px; height: 145px;}
	100%	{width:	125px; height: 120px;}
}
