@media (max-width: 1200px) {
    .contConcurso {
        grid-template-areas:
        "headerConcurso         headerConcurso          headerConcurso"
        "contest2021            contest2021             contest2021"
        "galeriaContest         galeriaContest          galeriaContest"
        "posiciones             posiciones              posiciones"
        "footer                 footer                  footer";
        
        font-size: 14px;
    }
} 

@media (max-width: 992px) {
    .contConcurso {
        grid-template-areas:
        "headerConcurso         headerConcurso          headerConcurso"
        "contest2021            contest2021             contest2021"
        "galeriaContest         galeriaContest          galeriaContest"
        "posiciones             posiciones              posiciones"
        "footer                 footer                  footer";
        
        font-size: 12px;
    }
}

@media (max-width:768px) {
    .contConcurso {
        grid-template-areas:
        "headerConcurso         headerConcurso"
        "contest2021            contest2021"
        "galeriaContest         galeriaContest"
        "posiciones             posiciones"
        "footer                 footer";
    }

    .contest2021 {
        grid-template-areas:
        "video1Text"
        "contest2021__videos"
        "video2Text";
    }
    .contest2021__videos {
        width: 400px;
        align-items: center;      
    }
    .footer__logo {
        display: none;
        height: 50px;
    }
    .footer__copyright {
        width: 160px;
    }
    .footer__links {
        font-size: 18px;
    }
    .footer__redes .navSocialNetworks a {
        font-size: 28px;
    }
}

@media (max-width: 576px) {
    .contConcurso {
        grid-template-areas:
        "headerConcurso"
        "contest2021"
        "galeriaContest"
        "posiciones"
        "footer";
    }
    .contest2021 {
        grid-template-areas:
        "video1Text"
        "contest2021__videos"
        "video2Text";
        .contest2021__video1Text .contest2021__video1Text__titulo {
            font-size: 4em;
        }
        .contest2021__video1Text__parrafo1{
            font-size: 1.5em;
        }

        .contest2021__video1Text {
            .contest2021__videoText__jueces {
                .contest2021__videoText__jueces__contenedor {
                    .contest2021__videoText__jueces__texto__fukada,
                    .contest2021__videoText__jueces__texto__balbi,
                    .contest2021__videoText__jueces__texto__lecuna,
                    .contest2021__videoText__jueces__texto__alex {
                        .phjueces {
                            max-width: 400px;
                            max-height: 200px;
                        }
                    }
                }
            }
        }    
        .contest2021__videos {
            width: 400px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
    }        
    .footer__logo {
        display: none;
        height: 50px;
    }
    .footer__copyright {
        width: 160px;
    }
    .footer__links {
        font-size: 18px;
    }
    .footer__redes .navSocialNetworks a {
        font-size: 28px;
    }
}