@media (max-width: 1200px) {
    .contNos {
        grid-template-areas:
        "headerConcurso         headerConcurso          headerConcurso"
        "contest2021            contest2021             contest2021"
        "galeriaContest         galeriaContest          galeriaContest"
        "posiciones             posiciones              posiciones"
        "footer                 footer                  footer";
        
        font-size: 14px;
    }
} 

@media (max-width: 992px) {
    .contNos {
        grid-template-areas:
        "headerConcurso         headerConcurso          headerConcurso"
        "contest2021            contest2021             contest2021"
        "galeriaContest         galeriaContest          galeriaContest"
        "posiciones             posiciones              posiciones"
        "footer                 footer                  footer";
        
        font-size: 12px;
    }
}

@media (max-width:768px) {
    .contNos {
        grid-template-areas:
        "headerConcurso         headerConcurso"
        "contest2021            contest2021"
        "galeriaContest         galeriaContest"
        "posiciones             posiciones"
        "footer                 footer";
    }

    .contest2021 {
        grid-template-areas:
        "video1Text"
        "contest2021__videos"
        "video2Text";
    }
    .contest2021__videos {
        width: 450px;
        align-items: center;
    }
    .footer__logo {
        display: none;
        height: 50px;
    }
    .footer__copyright {
        width: 160px;
    }
    .footer__links {
        font-size: 18px;
    }
    .footer__redes .navSocialNetworks a {
        font-size: 28px;
    }
}

@media (max-width: 576px) {
    .contNos {
        grid-template-areas:
        "headerConcurso"
        "contest2021"
        "galeriaContest"
        "posiciones"
        "footer";
    }
    .contest2021 {
        grid-template-areas:
        "video1Text"
        "contest2021__videos"
        "video2Text";
    }
    .footer__logo {
        display: none;
        height: 50px;
    }
    .footer__copyright {
        width: 160px;
    }
    .footer__links {
        font-size: 18px;
    }
    .footer__redes .navSocialNetworks a {
        font-size: 28px;
    }
}