.nosContainer {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    display: grid;
    grid-template-areas:
        "nosHeader  nosHeader   nosHeader"
        "mainNos    mainNos     asideNos"
        "sectionNos sectionNos  asideNos"
        "articleNos articleNos  articleNos"
        "footer     footer      footer";
}
.nosBarImg {
    color: #fff;
    grid-area: nosBarImg;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px 5px 0 0;
    .nosBarImg__menu {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        position: sticky;
        left: 0;
        top:0;
        .nosBarImg__menu__nos {
            background: rgb(97, 100, 97);   
        }
        a {
            background: rgb(31, 30, 30);
            color: #fff;
            padding: 20px;
            width: 100%;
            text-align: center;
            color: #fff;
            transition: .3s ease-out all;
            text-decoration: none;
            &:hover {
                background: rgb(42, 156, 42);
                color: #fff;
            }
        }
    }
}

.nosHeader {
    grid-area: nosHeader;
}

.mainNos {
    background: white;
    grid-area: mainNos;
    font-size: 1.125em;
    padding: 5px;
    margin: 5px 5px 0 0;
    .mainNos__titulo {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
    }
    .mainNos__parrafo {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }
}

.sectionNos {
    background: darkgray;
    grid-area: sectionNos;
    font-size: 1em;
    padding: 5px;
    margin: 5px 5px 0 0;
    .sectionNos__section1 {
        font-size: 1em;
        padding: 5px;
        margin: 5px 0 5px 0;
        .sectionNos__section1__titulo {
            font-family: 'Roboto', sans-serif;
            font-style: italic;  
        }
        .sectionNos__section1__parrafo {
            font-family: 'Roboto', sans-serif;
            font-style: italic;
            color: white;
        }
    }
    .sectionNos__section2 {
        font-size: 1em;
        padding: 5px;
        margin: 5px 0 5px 0;
        .sectionNos__section2__titulo {
            font-family: 'Roboto', sans-serif;
            font-style: italic;
        }
        .sectionNos__section2__parrafo {
            font-family: 'Roboto', sans-serif;
            font-style: italic;
            color: white;
        }
    }
}

.asideNos {
    grid-area:asideNos;
    // padding: 5px;
    margin: 5px 0 0 0;
    .asideNos__img {
        width:100%;
        height: 100%;
        object-fit: cover;
    }
}

.articleNos {
    background: white ;
    grid-area:articleNos;
    font-size:1rem;
    padding: 5px;
    margin: 5px 0 5px 0;
    .articleNos__titulo {
        font-size: 1.5rem;
        font-style: italic;
        background-color: grey;
        color: white;
    }
    .articleNos__parrafo {
        font-family: 'Roboto', sans-serif;
        font-size: 1.15rem;
        font-weight: 500;
        font-style: italic;
    }
}

@import "footer";
@import "mediaqNosotros";